<%= form_with(model: hotel_detail, validate: true) do |form| %>
  <% if hotel_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel_detail.errors.count, "error") %> prohibited this hotel_detail from being saved:</h2>

      <ul>
        <% hotel_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group"> 
    <%= form.label :hotel_name %>
    <div class="row">
      <div class="col-3">
        <%= form.text_field :hotel_name ,class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <div class="row">
      <div class="col-3">
    <%= form.text_area :address,class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :main_image %>
    <div class="row">
      <div class="col-3">
        <%= form.file_field :main_image, class: "form-control-file" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
