
<h1>Hotel Details</h1>


<% if !@hotel_details.empty? %>
<div class="container">
  <div class="row">
    <% @hotel_details.each do |hotel_detail| %>
    <div class="col-md-6 ">
<div class="card text-white bg-dark mb-3">
   <%= image_tag hotel_detail.main_image, class: "card-img-top" %>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6">
        <h5 class="card-title"><%= hotel_detail.hotel_name %></h5>
    <p class="card-text"><i class="fa fa-map-marker fa-1x"></i>&nbsp;<%= hotel_detail.address %></p>
      </div>
      <div class="col-xl-6">
        <label class="font-weight-light card-text text-right">Starting from</label></br>
    <p class="card-text"><i class="fa fa-inr fa-1x"></i>&nbsp;<%= hotel_detail.room_details.minimum(:price_per).to_i %></p>
      </div>
    </div></br>
           <div class=" card-text">
              
               <%= link_to 'Show', hotel_detail, class: "btn btn-primary" %>            
            <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_hotel_detail_path(hotel_detail), class: "btn btn-warning" %>
           <%= link_to 'Delete', hotel_detail, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>

  </div>
</div>
</div>
    <% end %>
  </div>
</div>
<% else %>
<h5>No hotels Available for Booking</h5>
<% end %>