

<h1>Hotel Details</h1>
<% if !@hotel_details.empty? %>
<div class="container">
  <div class="row">
    <% @hotel_details.each do |hotel_detail| %>
    <div class="col-sm-4 ">
          <div class="card text-white bg-dark mb-3">
          <%= image_tag hotel_detail.main_image, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= hotel_detail.hotel_name %></h5>
            <address class="card-text"><%= hotel_detail.address %></address>
            <p class="card-text"><%= hotel_detail.room_type %> Rooms</p>
            <p class="card-text"><%= hotel_detail.price.to_i %> Rs/cycle(12PM-11AM)</p>
            <p class="card-text"><%= hotel_detail.rooms %> Rooms Available</p>
            <a><%= link_to 'Show', hotel_detail, class: "btn btn-primary" %></a>
            <% if current_user && current_user.admin? %>
            <a><%= link_to 'Edit', edit_hotel_detail_path(hotel_detail), class: "btn btn-warning" %></a>
            <a><%= link_to 'Delete', hotel_detail, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></a>
            <% end %>
          </div>
        </div>

    </div>
    <% end %>
  </div>
</div>
<% else %>
<h5>No hotels Available for Booking</h5>
<% end %>


