
<div class="container">
  
  <div class="card bg-dark text-black">
  <%= image_tag @hotel_detail.main_image, class: "card-img" %>
  <div class="card-img-overlay">
    <h5 class="card-title"><%= @hotel_detail.hotel_name %></h5>
    <p class="card-text"><i class="fa fa-map-marker fa-1x"></i>&nbsp;<%= @hotel_detail.address %></p>
    <label class="font-weight-light">Starting from</label></br>
    <i class="fa fa-inr"></i>&nbsp;<big><%= @minimum_price %>/-</big></br>
    &nbsp;&nbsp;<small>+<i class="fa fa-inr"></i><%= @minimum_price_gst %>&nbsp;taxes & fees</small></br></br></br></br></br></br></br>
    <% if current_user && current_user.admin? %>
    <div><%= link_to 'AddRooms', new_room_detail_path(@hotel_detail), class: "btn btn-light"%> 
    <%= link_to 'Edit Hotel', edit_hotel_detail_path(@hotel_detail),class: "btn btn-light" %> </div>
    <% end %>
  </div>
</div>


<%= render 'facilities' %>

<% if !@room_details.empty? %>
<%= render 'rooms' %>
<% else %>
<h1>No Rooms Currently</h1>
<% end %>

<%= link_to 'Back', hotel_details_path %>

</div>
